<!doctype html>
<html>


<body>
    <div class="invoice-container">
        <div class="head">
            <img src="http://wyattapi.servexusinc.com/wwwroot/logo.png" class="logo-image" />
        </div>
        <div class="info">
            <table class="main">
                <tr>
                    <td class="image">
                        <img class="productImg" src="{print}" />
                    </td>
                    <td class="content">
                        <table>
                            <tr>
                                <td class="col-50"><strong>List Price:</strong></td>
                                <td class="col-50">$ {TotalPrice}</td>
                            </tr>
                            <tr>
                                <td><strong>Product Code:</strong></td>
                                <td>{code}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="underline">
                                <td class="col-50">BACK SIZE:</td>
                                <td class="col-50">{back}</td>
                            </tr>
                            <tr class="underline">
                                <td>TEXTILE:</td>
                                <td>{base}</td>
                            </tr>
                            <tr class="underline">
                                <td>MECHANISM:</td>
                                <td>{mechanism}</td>
                            </tr>
                            <tr class="underline">
                                <td>ARMS:</td>
                                <td>{arm}</td>
                            </tr>
                            <tr class="underline">
                                <td>BASE COLOR:</td>
                                <td>{grade}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="underline">
                                <td><strong>Contact Your Sales Representative</strong></td>
                            </tr>
                            <tr class="underline">
                                <td>
                                    <ul>
                                        <li>Ethosource</li>
                                        <li>Anjelica Capellupo</li>
                                        <li>acapellupo4@gmail.com</li>
                                        <li>484-336-3794</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>