<!doctype html>
<html>
<head>

    <style>
    </style>

</head>

<body>
    <div class="invoice-container">
        <div class="head">
            <img src="http://wyattapi.servexusinc.com/wwwroot/logo.png" class="logo-image" />
        </div>
        <div class="info">
            <table class="main">
                <tr>
                    <td class="image">
                        <img class="productImg" src="{print}" />
                    </td>
                    <td class="content">
                        <table>
                            <tr class="titleName">
                                <td id="namerow">{name}</td>
                            </tr>
                            <tr class="titleName">
                                <td id="namerow">__</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="col-50">List Price:</td>
                                <td class="col-50">$ {TotalPrice}.00</td>
                            </tr>
                            <tr>
                                <td>SKU:</td>
                                <td>{code}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="underline">
                                <td class="col-50">BACK:</td>
                                <td class="col-50">{back}</td>
                            </tr>
                            <tr class="underline">
                                <td>BASE:</td>
                                <td>{base}</td>
                            </tr>
                            <tr class="underline">
                                <td>MECHANISM:</td>
                                <td>{mechanism}</td>
                            </tr>
                            <tr class="underline">
                                <td>ARMS:</td>
                                <td>{arm}</td>
                            </tr>
                            <tr class="underline">
                                <td>SEAT MATERIAL GRADE:</td>
                                <td>{grade}</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="underline">
                                <td><strong>Contact Your Sales Representative</strong></td>
                            </tr>
                            <tr class="underline">
                                <td>
                                    <ul>
                                        <li>Wyatt Seating</li>
                                        <li>Pat Zerbe</li>
                                        <li>patz@wyattseating.com</li>
                                        <li>484-789-7200</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <table id="footerRow">
            <tr>
                <td id="leftcol">{date}</td>
                <td id="rightcol" align="right">wyattseating.com</td>
            </tr>
            
        </table>

    </div>

        
</body>
</html>