.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #18ca44;
}

.table-hover > tbody > tr:hover {
    background-color: 
    #d91313;
}

.accordion > .card:not(:last-of-type) {

}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;    
    margin-top: 4vh;
}

    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.body {
    font-size: 0.9rem;
    margin-left: 2%;
    margin-right: 2%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.col {
    padding-left: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

img {
    vertical-align: middle;
    border-style: none;
    width: -moz-available;
    border-radius: inherit;
    height: inherit;
    cursor: pointer;
}

.accordion {
    width: 80%;
    padding-left: 10%;
}

.class-header {
    border-bottom: 1px solid black;    
}


#wyattImage {
    padding-top: 2vh;
    padding-left: 8vw;
    height: 18vh;
    z-index: 100;
}
#wyattImage img {
    height: 100%;
    width: auto;
}
#wyattContainer {
}
#canvasContainer {
    border-left: 5vw;
    height: 79vh;
    padding: 1%
    }
#wyattCanvas {
    position: relative;
    width: 95%;
    height: 95%;   
    margin-top: 1vh;
    margin-left: 1vw;
}

#wyattGeneralInfo {    
    width: 90%
}
#productName {
    font-size: 40px;
    text-align:left;
    
}
#infoContainer {
    border: 1px solid transparent;
    width: 85%;
    height: 2px;
    border-radius: 5px;
    background-color: #bfbfbf; /*#eee;*/
}

#productPrice {
    text-align: right;
    width: 85%;
}

.dropdown-menu.show {
    display: block;
    z-index: 1001;
}


.pagination{
  
  padding:20px;
  user-select: none;
  }

.pagination a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
.pagination a .disabled {
        opacity: .3;
        pointer-events: none;
        cursor: not-allowed;
    }
.pagination a .current{
      background:#f3f3f3;
    }


#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: inherit;
   
}

.material-item {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    margin: 5px;
    border-radius: 10px;
    color: #888;
    flex-grow: 1;
}

#gradesBaseRow {
    width: 100%
}

#utilitiesRow {
    text-align: center;
    margin-top: 15px;
}

#utilitiesButton {
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 15%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10%;
    margin-right: 10%;
}
    #utilitiesButton:hover {
        background-color: lightgray;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    }

#utilitiesButton img {
    height: 85%;
    width: 85%;

}

#infoCol {
    padding-top:21vh;
}


.btn-link {
    cursor: default;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: right;
    vertical-align: middle;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.1;
    border-radius: .25rem;
   
    float: right;
    color: #000;
    font-weight: bolder;
    height: 100%;
    width: 100%;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
}





.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;   
    border: none;
    text-align: right;
}

    .list-group-item.active {
        z-index: 2;
        color: #939393;
        background-color: #f4f4f4;
        border: none;
        border-top-width: medium;
        font-weight: 600;
    }

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

    .list-group-item-action:focus, .list-group-item-action:hover {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #ececec;
        font-weight: 600;
    }

button, input, optgroup, select, textarea {
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    button:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    #stoolStandardSwap {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #LoadingScreen {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        background-color: white;
    }

#loadingLabel {
    position: absolute;
    width: 100vw;
    top: 69%;
    font-size: 3vh;
    text-align: center;
}

.progress-bar {
    background-color: #5a5f5b;
    border-radius: 50px;

}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 6vh;
    overflow: hidden;
    font-size: 2.5vh;
    background-color: #e9ecef;
    border-radius: .25rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 60%;
    border: 4px solid #000000;
    border-radius: 50px;
    padding: 0.4vh;
}

#loadingLogo {
    display: block;
    margin: 0 auto;
    margin-top:20%;
    cursor: default;
}