
* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #18ca44;
}

.table-hover > tbody > tr:hover {
    background-color: #d91313;
}

.accordion > .card:not(:last-of-type) {
}

.accordion > .card {
    overflow: unset;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: right;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    margin-bottom: 2vh;
    width: 80%;
}

    .card:hover {
        background-color: #e9e9e9;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        color: #fff;
    }

.card-body {
    background-color: #FFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #000;
}

.h5, h5 {
    font-size: 1.5vh;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2vw;
    margin-left: 2vw;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.25vh;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}



.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

.card-body {
    padding: 1%;
    /*margin-top: -10px;*/
    border-top: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

img {
    vertical-align: middle;
    border-style: none;
    width: -moz-available;
    border-radius: inherit;
    height: 100%;
    cursor: pointer;
}

.accordion {
    width: 100%;
}


.class-header {
    border-radius: 0.75em;
    background: #E6E7E8;
    height: 4.5vh;
    box-shadow: 5px 5px 12px 0px rgba(0.2,0.2,0.2,0.2);
    text-transform: uppercase;
    letter-spacing: 2.5px;
}


#wyattImage {
    padding-top: 2vh;
    padding-left: 8vw;
    height: 14vh;
    z-index: 100;
}

    #wyattImage img {
        height: 100%;
        width: auto;
    }

#wyattContainer {
}

#canvasContainer {
    border-left: 5vw;
    height: 82vh;
    padding: 1%
}

#wyattCanvas {
    display: block;
    position: relative;
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
}

#wyattGeneralInfo {
    width: 100%;
    padding: 0 2%;
}

#productName {
    font-size: 3.7vh;
    text-align: left;
    color: white;
    padding-left: 4%;
    text-shadow: 6px 6px 7px rgba(0,0,0,0.15);
}

#infoContainer {
    width: 85%;
    height: 1px;
    margin-left: 7.5%;
}

#productPrice {
    text-align: right;
    width: 100%;
    font-size: 2.5vh;
    padding-right: 7%;
    padding-top: 3%;
}




.pagination {
    user-select: none;
    width: 100%;
    text-align: center;
    display: block;
    font-size: larger;
}

    .pagination a {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
    }

        .pagination a .disabled {
            opacity: .3;
            pointer-events: none;
            cursor: not-allowed;
        }

        .pagination a .current {
            background: #f3f3f3;
        }


#imagesContainer {
    display: contents;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: inherit;
}

.material-item {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    margin: 0.5% 0.5%;
    border-radius: 0.75em;
    color: #888;
}

    .material-item img {
        vertical-align: middle;
        border-style: none;
        width: 90%;
        height: inherit;
        border-radius: inherit;
        cursor: pointer;
    }

#gradesBaseRow {
    width: 100%;
    height: 34vh;
}

#gredesFilterRow {
    padding-top: 2%;
}

#optionsCol {
    padding-top: 16vh;
    padding-left: 4%;
}

#utilitiesRow {
    position: absolute;
    text-align: center;
    bottom: 5%;
    display: block;
}

#utilitiesButton {
    height: 5vh;
    width: 5vh;
    border-radius: 15%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10%;
    margin-right: 10%;
}

    #utilitiesButton:hover {
        background-color: lightgray;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    }

    #utilitiesButton img {
        height: 70%;
        width: 75%;
    }

#infoCol {
    padding-top: 9.5vh;
    background: #E6E7E8;
    height: 71vh;
    margin-top: 16vh;
    border-radius: 0.75em
}


.btn-link {
    cursor: default;
}

.btn {
    display: inline-block;
    color: #212529;
    text-align: left;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
    font-size: 1.8vh;
    float: right;
    color: #000;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
}

.btn-link:hover {
    color: #ffffff;
    text-shadow: 2px 7px 8px rgba(0,0,0,0.2);
    text-decoration: none;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
}





.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: none;
    text-align: right;
}

    .list-group-item.active {
        z-index: 2;
        color: #939393;
        background-color: #f4f4f4;
        border: none;
        border-top-width: medium;
        font-weight: 600;
    }

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

    .list-group-item-action:focus, .list-group-item-action:hover {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #ececec;
        font-weight: 600;
    }

button, input, optgroup, select, textarea {
    width: 100%;
    height: 3.5vh;
    font-size: 1vh;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    button:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

#stoolStandardSwap {
    padding-top: 1vh;
    padding-bottom: 0vh;
}

#LoadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: white;
}

#loadingLabel {
    position: absolute;
    width: 100vw;
    top: 69%;
    font-size: 3vh;
    text-align: center;
}

.progress-bar {
    background-color: #5a5f5b;
    border-radius: 50px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 6vh;
    overflow: hidden;
    font-size: 2.5vh;
    background-color: #e9ecef;
    border-radius: .25rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 60%;
    border: 4px solid #000000;
    border-radius: 50px;
    padding: 0.4vh;
}

#loadingLogo {
    display: block;
    margin: 0 auto;
    margin-top: 20vh;
    cursor: default;
}

#materialGrades {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

    #materialGrades:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
    }

#dropdownColGrades {
    margin-top: 10px;
    margin-bottom: 10px;
}

#gradesDropdown {
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    position: absolute;
    transform: translate3d(0px, 33px, 0px);
    top: 0px;
    right: 0px;
    will-change: transform;
}

.dropdown-item {
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: right;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 5px;
    border: solid transparent;
    font-size: larger;
}

#materialCollections {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

    #materialCollections:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
    }

#dropdownCollections {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#collectionDropdown {
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.dropdown-menu-arrow {
    top: -10%;
    left: 65%;
    width: 0;
    height: 0;
    position: relative;
}
    .dropdown-menu-arrow:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 7px 8px;
        border-style: solid;
        border-color: transparent;        
        border-bottom-color: white;
    }

.dropdown-menu-arrow:after {
    left: 6vw;
    top: 2.5vh;
    position: absolute;
    border-bottom-color: #000;
    text-align: right;
    transform: rotateX(180deg);
}


.dropdown-menu-arrow:hover {
    color: #ffffff;
    text-shadow: 2px 7px 8px rgba(0,0,0,0.2);
    text-decoration: none;
}